* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.end {
    display: flex;
    justify-content: space-evenly;
    height: 425px;
    background: rgb(15, 86, 15);
    color: white;
    position: relative;
}

.end1 {
    width: 200px;
    margin-top: 15px;
    font-size: .9rem;
}

.end1 li {
    list-style: none;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 1.1rem;
}

.end1 li:hover {
    text-decoration: underline;
}

.end1 li:nth-child(2) {
    margin-top: 20px;
}

.end1 li:nth-child(6) {
    margin-top: 15px;
}

.end1 li:nth-child(8) {
    margin-top: 15px;
}

.end2 {
    margin-top: 15px;
    width: 200px;
    font-size: .9rem;
}

.end2 li {
    list-style: none;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 1.1rem;
}

.end2 li a {
    text-decoration: none;
    color: white;
}


.end2 li:hover {
    text-decoration: underline;
}

.end2 li:nth-child(2) {
    margin-top: 20px;
}

.end2 li:nth-child(3) {
    margin-top: 10px;
}

.end2 li:nth-child(4) {
    margin-top: 10px;
}

.end2 li:nth-child(5) {
    margin-top: 10px;
}

.end3 {
    margin-top: 15px;
    font-size: .9rem;
}

.end3 li {
    list-style: none;
    padding: 8px 10px;
    cursor: pointer;
}

.end3 li:hover {
    text-decoration: underline;
}

.end3 p {
    padding: 8px 10px;
}

.end3 .logo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.end3 .logo img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.copy {
    position: relative;
    background: rgb(15, 86, 15);
    color: white;
    height: 90px;
    padding-top: 20px;
}

.copy p {
    text-align: center;
    font-size: .9rem;
}

@media only screen and (max-width:637px) {
    .end {
        flex-direction: column;
        gap: 1.5rem;
        height: 925px;
        padding-left: 10px;
    }

    .copy p {
        text-align: center;
        font-size: .9rem;
        padding: 0px 15px;
    }
}

@media only screen and (max-width:460px) {
    .copy p {
        font-size: .9rem;
    }
}

@media only screen and (max-width:412px) {

    .end3 .logo {
        flex-wrap: wrap;
    }
    .end3 p{
        text-align: center;
    }
}