* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#login {
    position: relative;
}

.loginform {
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    background-image: linear-gradient(45deg, #8b5aed 0%, #78ebfc 100%);
    justify-content: space-evenly;
    display: flex;
    justify-content: space-evenly;
    position: relative;

}

.loginformimg {
    background: url("https://github.com/JasonDsouza212/free-hit/assets/123585591/b66b68af-c719-439c-8bd6-b5a76045df17") no-repeat center center/cover;
    height: 400px;
    width: 400px;
}

.loginform form {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 44px;
    box-shadow: 0 45px 63px rgba(0, 0, 0, 0.26);
    border: 2px solid rgb(182, 182, 182);
    background-color: white;
}

.loginform form p a:hover {
    font-size: 1.3rem;
    padding: 7px 14px;
}

.loginform form h1 {
    padding-top: 50px;
    text-align: center;
}

.loginform form span {
    color: green;
}

.loginform form input {
    padding: 9px 12px;
    width: 75%;
    border: none;
    box-shadow: 5px 5px 8px rgb(222, 222, 222);
    border-radius: 18px;
    border: 2px solid rgb(157, 157, 157);
}

.loginform form a {
    background-image: linear-gradient(45deg, #8b5aed 0%, #78ebfc 100%);
    color: white;
    padding: 5px 13px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.loginform form button {
    background-image: linear-gradient(45deg, #8b5aed 0%, #78ebfc 100%);
    ;
    color: white;
    padding: 5px 13px;
    border-radius: 12px;
    cursor: pointer;
    border: none;

}

.loginform form button:hover {

    font-size: 1.3rem;
    padding: 7px 14px;

}


@media only screen and (max-width:852px) {
    .loginform form {
        width: 300px;
    }
}

@media only screen and (max-width:736px) {
    .loginform form {
        width: 270px;
    }

    .loginformimg {
        width: 350px;
    }
}

@media only screen and (max-width:653px) {
    .loginform {
        flex-direction: column;
        align-items: center;
    }

    .loginform form {
        width: 325px;
    }
}