* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signup {
    background-image: linear-gradient(45deg, #8b5aed 0%, #78ebfc 100%);
    position: relative;
    height: 100vh;
    width: 100%;
}

.signupform {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.signupform form {
    background-color: white;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 44px;
    box-shadow: 0 45px 63px rgba(0, 0, 0, 0.26);
    border: 2px solid rgb(182, 182, 182);
}

.signupform form h1 {
    padding-top: 30px;
    text-align: center;
}

.signupform form span {
    color: green;
}

.signupform form input {
    padding: 9px 12px;
    width: 75%;
    border: none;
    box-shadow: 5px 5px 8px rgb(222, 222, 222);
    border-radius: 18px;
    border: 2px solid rgb(157, 157, 157);
}

.signupform form button {
    background-image: linear-gradient(45deg, #8b5aed 0%, #78ebfc 100%);
    ;
    color: white;
    padding: 5px 13px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

.signupform form a {
    background-image: linear-gradient(45deg, #8b5aed 0%, #78ebfc 100%);
    ;
    color: white;
    padding: 5px 13px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.signupform form p {
    color: rgb(95, 93, 93);
}

.signupform form button:hover {
    font-size: 1.3rem;
    padding: 7px 14px;
}

.signupform form a:hover {
    font-size: 1.3rem;
    padding: 7px 14px;
}

@media only screen and (max-width:852px) {
    .signupform form {
        width: 300px;
    }
}

@media only screen and (max-width:736px) {
    .signupform form {
        width: 348px;
    }

    .signupformimg {
        width: 305px;
    }
}

@media only screen and (max-width:611px) {
    .signupform {
        flex-direction: column;
        align-items: center;
    }

    .signupform form {
        width: 325px;
    }
}